.rp-theme-variables {
  /* global */
  --rp-font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --rp-primary-color: #34affc;
  --rp-border-radius: 4px;
  --rp-text-color: #1c2024;
  --rp-outline-color: #34affc;
  --rp-font-size: 16px;
  /* dropdown mask */
  --rp-drop-mask-background-color: #fafafa;
  /* icon */
  --rp-icon-disabled: #c6ccd2;
  --rp-icon-font-size: calc(var(--rp-font-size) * 1.25);
  /* toolbar */
  --rp-toolbar-background: #e2e6e9;
  --rp-toolbar-border-color: #c6ccd2;
  --rp-toolbar-padding: .25rem;;
  --rp-toolbar-gap: 0.25rem;
  --rp-toolbar-size: 48px;
  /* sidebar */
  --rp-sidebar-width: 48px;
  /* thumbnail */
  --rp-thumbnail-border-color: #e2e6e9;
  --rp-thumbnail-background-color: #ffffff;
  --rp-thumbnail-active-color: #00000033;
  --rp-thumbnail-padding-y: 16px;
  /* button */
  --rp-button-hover-background: #0000001a;
  --rp-button-padding: 4px;
  /* input */
  --rp-input-padding: 8px;
  --rp-input-border-radius: 6px;
  --rp-input-background-color: #ffffff;
  --rp-input-placeholder-color: #C6CCD2;
  /* pages */
  --rp-pages-background-color: #ffffff;

  --rp-annotation-layer__link-hover-background: rgba(255, 255, 0, 0.2);
  /* dropdown */
  --rp-dropdown-background-color: #f1f2f4;
  --rp-dropdown-padding: 4px;
  --rp-dropdown-hover-background-color: #0000001a;
  --rp-dropdown-separator-color: #e2e6e9;
  --rp-dropdown-separator-margin: 4px;
  --rp-dropdown-padding-menu-item: 8px;
  --rp-dropdown-font-size: calc(var(--rp-font-size) * 0.875);
  --rp-search-tool-dropdown-padding: 8px;
  /* dialog */
  --rp-overlay-background-color: #000000cc;
  --rp-dialog-background-color: #f1f2f4;
  --rp-properties-divider-color: #e2e6e9;
  --rp-properties-divider-margin: 16px;
  --rp-property-item-gap: 12px;
  --rp-dialog-title-color: #1c2024;
  --rp-property-item-label-color: #596673;
  --rp-property-close-icon-size: calc(var(--rp-font-size) * 1.25);
  --rp-property-item-font-size: calc(var(--rp-font-size) * 0.875);
  --rp-property-item-font-weight: 400;
  --rp-dialog-title-font-size: calc(var(--rp-font-size) * 1.125);
  --rp-dialog-title-font-weight: 600;
  --rp-menu-item-icon-size: 16px;
  /* Drop zone  */
  --rp-drop-zone-border: #c6ccd2;
  --rp-drop-zone-font-color: #8c99a6;
  --rp-drop-zone-font-size: calc(var(--rp-font-size) * 1.125);
  --rp-drop-zone-background-color: #fafafa;
  /* checkbox */
  --rp-checkbox-border-radius: 4px;
  --rp-checkbox-border-color: #E2E6E9;
  /* highlight */
  --rp-highlight-background-color: rgba(255, 255, 0, 1);
  --vpv-text-layer-highlight-border-radius: var(--rp-border-radius);
  --rp-current-highlight-background-color: rgba(255, 0, 0, 1);
  /* tooltip */
  --rp-tooltip-background-color: #1C2024;
}
